@model Product
@inject MabeyaDbContext dbContext
@{
    ViewData["Title"] = Model.Name;
    var avg = 0.0;
    var galleryImageCounter = 0;

    List<string> images = new List<string>();
    images.Add(Url.Action("Product", "Images", new { id = Model.Id }));
    images.AddRange(Model.ProductImages.Select(p => Url.Action("ProductImage", "Images", new { id = p.Id })));
    var creditCards = dbContext.CreditCards.Include(p => p.Installments).ToList();

}
<div>
    <li>

    </li>
</div>
<div class="row mb-3">
    <div class=" col-12 col-md-4">
        <section id="image-gallery" class="splide">
            <div class="splide__track">
                <ul class="splide__list">

                    @foreach (var image in images)
                    {
                        <li class="splide__slide">
                            <a href="@image" data-title="@Model.Name" data-lightbox="gallery">
                                <img src="@image" class="img-fluid" />
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </section>
        <div class="row row-cols-4">
            @foreach (var image in images)
            {
                <div class="col">
                    <img src="@image" height="60" data-index="@(galleryImageCounter++)" class="gallery-image p-1 border rounded" />
                </div>
            }
        </div>
    </div>

    <div class="col-12 col-md-8 ">
        <div class="d-flex flex-column gap-3">
        <div>
            @for (int i = 0; i < 5; i++)
            {
                if (i < avg && i != Math.Floor(avg))
                {
                    <i class="bi bi-star-fill"></i>
                }
                else if (i == Math.Floor(avg))
                {
                    <i class="bi bi-star-half"></i>

                }
                else
                {
                    <i class="bi bi-star"></i>
                }
            }

            @if (Model.Comments.Any())
            {
                @Model.Comments.Average(p => p.Scor).ToString("N1")
            }
            else
            {
                <span>Henüz Değerlendirilmedi.</span>
            }
            <div class="text-success display-6 fw-bold ">
                ₺ @Model.Price.ToString("N2")
            </div>
            <div>
                <form asp-action="AddToCart" asp-controller="Account" asp-route-id="@Model.Id" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-success">
                            Add to Cart
                        </button>
                    </form>
            </div>
        </div>
    </div>
    </div>

    <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-descriptions-tab" data-bs-toggle="tab" data-bs-target="#nav-descriptions" type="button" role="tab" aria-controls="nav-descriptions" aria-selected="true">Açıklama</button>
        <button class="nav-link" id="nav-comments-tab" data-bs-toggle="tab" data-bs-target="#nav-comments" type="button" role="tab" aria-controls="nav-comments" aria-selected="false">Yorumlar <span class="badge bg-secondary">@Model.Comments.Count()</span></button>
        <button class="nav-link" id="nav-payments-tab" data-bs-toggle="tab" data-bs-target="#nav-payments" type="button" role="tab" aria-controls="nav-payments" aria-selected="false">Taksit Bilgileri</button>
        <button class="nav-link" id="nav-refund-tab" data-bs-toggle="tab" data-bs-target="#nav-refund" type="button" role="tab" aria-controls="nav-refund" aria-selected="false">İade Koşulları</button>
    </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-descriptions" role="tabpanel" aria-labelledby="nav-descriptions-tab">
        <div>
            @Html.Raw(Model.Description)
        </div>
    </div>
    <div class="tab-pane fade" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">...</div>
    <div class="tab-pane fade" id="nav-payments" role="tabpanel" aria-labelledby="nav-payments-tab">
        <div class="p-3">
            <div class=" row row-cols-1 row-cols-4">

                @foreach (var creditCard in creditCards)
                {
                    <div class="col ">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="bg-body-tertiary text-center" colspan="3">@creditCard.Name</th>
                                </tr>
                                <tr class="text-body-secondary">
                                    <th>Taksit</th>
                                    <th>Tutar</th>
                                    <th>Toplam Tutar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 2; i <= 12; i++)
                                {
                                    var installment = creditCard.Installments.SingleOrDefault(p => p.Count == i);
                                    @if (installment == null)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        var amount = (Model.Price * installment.Rate);
                                        <tr>
                                            <td>@i</td>
                                            <td>₺@((amount / i).ToString("N2"))</td>
                                            <td>@(amount.ToString("N2"))</td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-refund" role="tabpanel" aria-labelledby="nav-refund-tab">

    </div>
</div>
</div>

@section Scripts {
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@splidejs/splide@4.1.4/dist/css/splide.min.css">
<script src="https://cdn.jsdelivr.net/npm/@@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.5/css/lightbox.min.css" integrity="sha512-xtV3HfYNbQXS/1R1jP53KbFcU9WXiSA1RFKzl5hRlJgdOJm4OxHCWYpskm6lN0xp0XtKGpAfVShpbvlFH3MDAA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.5/js/lightbox.min.js" integrity="sha512-KbRFbjA5bwNan6DvPl1ODUolvTTZ/vckssnFhka5cG80JVa5zSlRPCr055xSgU/q6oMIGhZWLhcbgIC0fyw3RQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$(() => {
const gallerySplide = new Splide('#image-gallery');
gallerySplide.mount();
$('.gallery-image').on('mouseover click', (e) => {
const i = $(e.currentTarget).data('index');
gallerySplide.go(i);
});
});
</script>
}
