@model Product
@inject MabeyaDbContext dbContext
@{
    ViewData["Title"] = "Ürün Ekle";
    var categories = dbContext.Categories.OrderBy(p => p.Name).ToList();
    var specs = dbContext.Specs.OrderBy(p => p.Name).ToList();
    var categoryList = new SelectList(categories.Select(p => new { p.Id, p.Name }), "Id", "Name");
    var catalogs = new SelectList(dbContext.Catalogs.Select(p => new { p.Id, p.Name }), "Id", "Name");

}
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label" asp-for="CategoryId"></label>
        <select class="form-control text-dark" asp-for="CategoryId" asp-items="categoryList">
            <option disabled selected value=""> kategori seçiniz. </option>
        </select>
    </div>
    <div class="mb-3 d-flex">
        <div class="row row-cols-1 row-cols-md-3">
            @foreach (var spec in specs)
            {
                <div class="col spec-panel" data-category-id="@spec.categoryId">
                    <div class=" d-flex flex-column">
                        <div class="p-2">@spec.Name</div>
                        <input type="text" class="form-control" name="@spec.Id" />
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="SelectedCatalogs"> </label>
        <div class="row ">
            @foreach (var item in catalogs)
            {
                <div class="col-2">
                    <div class="">
                        <input class="form-check-input" type="checkbox" name="SelectedCatalogs" id="catalog_@item.Value" value="@item.Value" />
                        <label class="form-check-label text-primary-emphasis" for="catalog_@item.Value">
                            @item.Text
                        </label>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" placeholder="ürün adını giriniz." />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Price"></label>
        <input class="form-control" asp-for="Price" value="" placeholder="ürün fiyatını giriniz" />
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Description"></label>
        <textarea class="form-control" asp-for="Description" placeholder="ürün özelliklerini giriniz."></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="mb-3">
        <div class="d-flex mb-3">
            <div class="border p-2">
                <img id="previewImage" src="" style="object-fit: cover;" onerror="this.error = null; this.src = '/images/noimage2.png'" width="320" height="240" />
            </div>
        </div>
        <div class="mb-3">
            <input type="file" class="form-control" asp-for="ImageFile">
            <label class="form-label" asp-for="ImageFile">Ürün görseli seçiniz</label>
        </div>
    </div>
    <div class="mb-3">
        <div class="d-flex mb-3" id="galleryPanel">

        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="ImageFiles">Diğer ürün görsellerini seçiniz</label>
            <input type="file" class="form-control" multiple asp-for="ImageFiles">
        </div>
    </div>
    <div class="mb-3">
        <div class="">
            <input class="form-check-input" asp-for="IsEnabled" />
            <label class="form-check-label" asp-for="IsEnabled"></label>
        </div>
    </div>
    <div class="d-flex">
        <a class="btn btn-link" asp-action="Index">İptal</a>
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
</form>
@section Scripts{

    <partial name="_ValidationScriptsPartial" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<script>

    $(document).ready(function () {

   
    $('#Description').summernote({
    height: 300
    });
  
    $('.spec-panel').addClass('d-none');

    const showSpecs = (e) => {
        $('.spec-panel').addClass('d-none');
        $(`.spec-panel[data-category-id=${e}]`).removeClass('d-none');
    };

    showSpecs(null);

     $('#CategoryId').on('change', (e) => showSpecs($(e.currentTarget).val()));


    $('#ImageFile').on('change', (e) => {
            const fileReader = new FileReader();
            fileReader.onload = (e) => {
                 $('#previewImage').attr('src', fileReader.result);
          };
         fileReader.readAsDataURL(e.currentTarget.files[0]);
    });

    $('#ImageFiles').on('change', (e) => {
         $('#galleryPanel').empty();
             const files = e.currentTarget.files;
             for (const file of files) {
                 if (!file.type.startsWith('image/')) { continue }
                 const fileReader = new FileReader();
                 fileReader.onload = (evt) => {
                          $('#galleryPanel').append(`
                             <div class="border p-2 m-2">
                                <img class="preview-gallery-image" src="${evt.target.result}" style="object-fit: cover;" width="160" height="120" />
                        </div>
                      `);
              };
         fileReader.readAsDataURL(file);
          }
         });

        });
    </script>
    }